{% extends 'base.html.twig' %}

{% block title %}Payment |
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<!--Simple MDE -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block body %}

	<div class="parallax-container valign-wrapper">
		<div class="section no-pad-bot">
			<div class="container">
				<h1 class="header center white-text light">Titre de la campagne</h1>
				<div class="row center">
					<h5 class="header col s12 light">- Organisée par : Nom de l'auteur -</h5>
				</div>
			</div>
		</div>
		<div class="parallax"><img src="{{ asset('assets/images/8.jpg') }}" alt="Titre de la campagne"></div>
	</div>

	<div class="container">
		<div class="section">
			<div class="row">
				<div class="col s12 center">
					<h4>Participez en quelques secondes</h4>
				</div>
			</div>
			<!--   Form Section   -->
			<div class="card">
				<div class="card-content">
					<div class="row">
						{{ form_start(form) }}
						<h5 class="center">Votre identité</h5>
						<div class="input-field col s12 l6">
							{{ form_widget(form.email, {'label': false}, {'attr': {'class': 'validate'}}) }}
							{{ form_label(form.email, 'Votre Email') }}
						</div>
						<div class="input-field col s12 l6">
							{{ form_widget(form.payment.amount, {'label': false}, {'attr': {'class': 'validate', 'value': '{{amount}}'}}) }}
							{{ form_label(form.payment.amount, 'Votre participation') }}
						</div>
						<p>
							<label>
								{{ form_widget(form.hide_name, {'label': false}) }}
								<span>Masquer mon identité auprès des autres participants</span>
							</label>
						</p>
						<p>
							<label>
								{{ form_widget(form.hide_amount, {'label': false}) }}
								<span>Masquer le montant de ma participation auprès des autres participants</span>
							</label>
						</p>
						<div class="clearfix"></div>
						<h5 class="center">Paiement</h5>
						<div class="input-field col s12">
							{{ form_widget(form.payment.name, {'label': false}, {'attr': {'class': 'validate'}}) }}
							{{ form_label(form.payment.name, 'Nom sur la carte') }}
						</div>
						<div class="input-field col s12">
							{{ form_widget(form.payment.number, {'label': false}, {'attr': {'class': 'validate'}}) }}
							{{ form_label(form.payment.number, 'Numéro de la carte') }}
						</div>
						<div class="input-field col s12 l8">
							{{ form_widget(form.payment.expiration, {'label': false}, {'attr': {'class': 'validate'}}) }}
							{{ form_label(form.payment.expiration, 'Date d\'expiration') }}
						</div>
						<div class="input-field col s12 l4">
							{{ form_widget(form.payment.cvv, {'label': false}, {'attr': {'class': 'validate'}}) }}
							{{ form_label(form.payment.cvv, 'CVV') }}
						</div>
						<div class="input-field col s12 l6">
							<a href="{{ path('app_home') }}" class="btn btn-large waves-effect waves-light grey col s12">Annuler</a>
						</div>
						<div class="input-field col s12 l6">
							<button class="btn btn-large waves-effect waves-light pink lighten-1 col s12" type="submit" name="action">
								Participer
								<i class="material-icons right">euro_symbol</i>
							</button>
						</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="section">
			<div class="row">
				<div class="col s12 center">
					<h4>Comment ça marche ?</h4>
				</div>
			</div>
			<!--   Icon Section   -->
			<div class="row">
				<div class="col s12 m4">
					<div class="icon-block center">
						<div class="btn-large btn-floating white">
							<i class="material-icons teal-text">create</i>
						</div>
						<h5 class="center">Créez</h5>
						<p class="light">et personnalisez votre campagne commune en 30 secondes !</p>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="icon-block center">
						<div class="btn-large btn-floating white">
							<i class="material-icons teal-text">wc</i>
						</div>
						<h5 class="center">Invitez</h5>
						<p class="light">vos amis en utilisant les réseaux sociaux, mail, etc.</p>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="icon-block center">
						<div class="btn-large btn-floating white">
							<i class="material-icons teal-text">shopping_cart</i>
						</div>
						<h5 class="center">Collectez</h5>
						<p class="light">et utilisez l'argent comme bon vous semble avec vos amis.</p>
					</div>
				</div>
			</div>

		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<!--Javascript Markdown editor-->
	<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}
